<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Post Detail</h1>
    <article>
        <header>
            <h1 style="display: inline-block">{{ post.titulo }}:</h1> <h2 style="display: inline-block">{{ post.subtitulo }}</h2>
            <h3>{{post.autor}}</h3>
        </header>
        <section>
            <p>{{post.conteudo}}</p>
        </section>
        <footer>
            <p>{{ post.data_publicacao }}</p>
        </footer>
    </article>
</body>
</html>